/* write your override styles here */
*{
  display: none;
}

div #wall .parent #tag-5.slick {
  background: url(../images/tag-5.png) no-repeat;
  z-index: 2;
  display: inline-block;
}

div #wall div.parent div:last-child div #tag-6 {
  background: url(../images/tag-2.png) repeat;
  z-index: 1;
  display: block;
}

body div #wall div.parent div > #tag-7.slick {
  background: url(../images/tag-1.png) no-repeat;
  z-index: 1;
  display: block;
}